* {
    margin: 0;
    padding: 0;
}
.c5 button{
    padding: 10px 30px;border: none;margin-top: 40px;margin-left: 5px;color: rgb(90, 9, 166);cursor: pointer;
}
#c1 h5{
    padding: 5px;padding-top: 50px;color: white;font-weight: 100;letter-spacing: 2px;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#c1 h1{
    padding: 5px;color: white;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;letter-spacing: 3px;
}

.main {
    width: 80%;
    margin: auto;
    height: auto;
    border: 2px solid;
    background-color: white;
    border-top: 100px solid;
    border-bottom: 100px solid;
    border-left: 50px solid;
    border-right: 50px solid;
}

.logo {
    width: 100%;
    padding: 25px 0px;
}

.logo ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo ul li {
    list-style: none;
    margin: auto;
}

.logo ul li h2 {
    letter-spacing: 3px;
}

.logo ul li h3 {
    background-color: red;
    padding: 5px 20px;
    color: white;
    margin-left: 700px;
}

.box1 {
    width: 100%;
    display: flex;
}

.box2 {
    width: 100%;
}

.box3 {
    width: 100%;
    display: flex;
}

.box4 {
    width: 100%;
}

.item-2 {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.photo4 {
    width: 45%;
    height: 400px;
}

.photo5 {
    width: 45%;
    height: 400px;
    
}

.photo4 img {
    /* width: 50%; */
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.photo5 img {
    /* width: 50%; */
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.box-img {
    width: 100%;
    display: flex;
    justify-content: center;
    /* overflow: hidden; */
}

.box-img img {
    width: 32%;
    display: flex;
    padding: 5px;
    object-fit: cover;
    height: 300px;
    /* overflow: hidden; */
}

.box-text {
    width: 100%;
    display: flex;
    padding-bottom: 30px;

}

.h1 {
    width: 32%;
    letter-spacing: 1px;
    padding: 10px 30px;
    /* text-align: center; */
}

.h1 p {
    padding: 5px 0px;
    /* text-align: start; */
    color: grey;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
}

.h1 button {
    padding: 13px 55px;
    background: white;
    cursor: pointer;
    border: 1px solid;
}

.h1 h3 {
    padding: 20px 0px;
}

.box-img img:hover {
    transform: scale(1.01);
    transition: ease-in-out;
}

.photo1 {
    width: 60%;
    height: 400px;
}

.contant {
    width: 40%;
    background-color: rgb(152, 86, 214);
}

.item {
    width: 55%;
    background-color: rgb(255, 6, 68);
    padding: 50px 30px;
}

.photo2 {
    width: 30%;
}

.box {
    padding: 30px 20px;
    text-align: center;
    border: 1px dashed white;
}

.photo3 img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.photo3 {
    width: 45%;
}

.box h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    word-spacing: 5px;
    font-weight: 100;
    padding-bottom: 20px;
}

.box h1 {
    color: white;
    letter-spacing: 1px;
    font-weight: 100;
    word-spacing: 5px;
}

.box p {
    font-size: small;
    color: white;
    padding: 15px;
}

.box button {
    padding: 10px 30px;
    letter-spacing: 1px;
    color: rgb(255, 6, 68);
    border: none;
    cursor: pointer;
}
#b1:hover{
    background-color: red;
    color: white;
}
.box-text2{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 15px;
}
.h2{
    width: 45%;
    padding-bottom: 30px;
}
.h2 button{
    margin-left: auto;
}
.box5{
    width: 100%;
    background-color: blueviolet;
}
.box5 h3{
    padding-top: 50px;
    text-align: center;
    letter-spacing: 2px;
    word-spacing: 5px;
    font-weight: 100;
    color: white;
    padding-bottom: 25px;
}
/* .span span{
    border: 1px solid white;
    border-radius: 50%;  
    width: 40px;
    height: 60px;
} */
/* .box5 span:hover{
    background-color: rgb(226, 65, 65);
    box-shadow: 1px 0px 5px #fff;
} */
.span{
    display: flex;
    justify-content: center;
    gap: 15px;
    padding-bottom: 25px;
}
.box5 p{
    text-align: center;
    padding-top: 35px;
    color: floralwhite;
    letter-spacing: 1px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.box5 p:nth-last-child(1){
    text-align: center;
    padding-top: 5px;
    padding-bottom: 50px;
}
.h2 p{
    font-size: larger;
}
.h2 button{
    padding: 15px 55px;border: 1px solid;cursor: pointer;
}
.h2 h3{
    text-align: left;padding: 20px 0px;
}
.rd{
    margin-top: -22px;
    text-align: center;
}
.rd p{
    color: yellowgreen;
}

/* width  200px -567px */

@media screen and (min-width:200px) and (max-width:567px){
    .main{
        width: 100%;
        border: none;
        margin: none;
    }
   .logo ul li{
    list-style: none;
    margin: 0;
   }
   .logo ul li h3{
    margin-left: 30px;
   }
   .box1 {
    width: 100%;
    display: flex;
    height: 200px;
    }
    .photo1{
        width: 50%;
    }
    .photo1 img{
        object-fit: cover;
        width: 100%;
        height: 200px;
    }
    .contant{
        width: 50%;
    }
    #c1{
        margin-top: -60px;
        margin-left: -25px
    }
    #c1 h5{
        font-size: 8px;
    }
    #c1 h1{
        margin-top: 5px;
    }
    #c1 p{
        font-size: small;
        padding: 0px 0px;
        margin-top: -5px;
    }
    .c5{
        padding: 0;
        margin-top: -45px;

    }
    .box-img{
        width: 100%;
    }
    .box-img img{
        height: 100px;
    }
    .box-text{
        width: 100%;
    }
    .h1{
        height: 100px;
        width: 30%;
        padding: 0px 7px;
        margin-bottom: 20px;
    }
    .h1 h2{
        font-size: x-small;
        text-align: center;
    }
    .h1 p{
        font-size: xx-small;
    }
    .h1 h3{
        font-size: x-small;
        margin-top: -12px;
    }
    .h1 button{
        margin-top: -5px;
        width: 80px;
        height: 20px;
        padding: 0px;
        font-size: xx-small;
    }
    .b5{
        margin-top: 10px;
    }
    .box3{
        height: 142px;
    }
    .item{
        padding: 8px 5px;
    }
    .box h3{
        padding: 5px;
        font-size: x-small;
        margin-top: -20px;
    }
    .box h1{
        font-size: small;
    }
    .box p{
        font-size: x-small;
        padding: 10px 0px;
    }
    .box button{
        padding: 5px 20px;
    }
    .box{
        padding-bottom: 8px;
        margin-top: 5px;
    }
    .item-2{
        height: 142px;
    }
    .photo4{
        height: 142px;
    }
    .photo5{
        height: 142px;
    }
    .h2 h2{
        font-size: small;
    }
    .h2 p{
        font-size: x-small;
    }
    .h2 h3{
       padding: 5px 0px;
        font-size: small;
    }
    .h2 button{
        padding: 5px 20px;
        border: 1px solid;
    }
    .span{
        gap: 7px;
    }
    
    
    .rd{
        margin-top: -22px;
        text-align: center;
    }
    .rd p{
        color: yellowgreen;
    }
    #c1 h1{
        font-size: medium;
        padding: 0px 5px;
    }
    #c1 p{
        font-size: small;
    }
    .c5{
        margin-top: -3px;
        margin-left: 5px;
    }
    .c5 button{
        padding: 2px 15px;
        border: 1px solid;
        margin-top: -20px;
    }
  

}

